# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
test/correrTests
data/correrExp

# Cosas de latex
*.log
*.aux
*.pdf
*.toc
*.synctex.gz

# CMake stuff
CMakeCache.txt
CMakeFiles
CMakeScripts
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
cmake-build-debug
Makefile
gtest.pc
gtest_main.pc
test/Makefile
test/googletest-build/
test/googletest-download/
test/googletest-src/

# CLion stuff? IDK
.idea/workspace.xml
tp1_metodos.cbp

# Graphviz output
report/img/graphs/*.png

